@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: url(../img/111.jpg) no-repeat;
    background-size: cover;

}

.signup-form{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: black;
}

.signup-form h1{
    float: left;
    font-size: 40px;
    border-bottom: 4px solid #4caf50;
    margin-bottom: 40px;
    padding: 13px 0px;

}

.txt{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0px;
    margin: 8px 0px;
    border-bottom: 1px solid #4caf50;

}

.txt i{
    width: 26px;
    float: left;
    text-align: center;

}

.txt input{
    outline: none;
    background:none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif

}

.btn{
    margin-top: 30px;
    width: 100%;
    background: #4caf50;
    border: none;
    color: #fff;
    padding: 10px 05px;
    cursor: pointer;
    font-size: 14px; 
}
.h2{
    width: 280px;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 75px;
    font-family: 'Damion', cursive;
    text-align: center;
    
}
